<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>@ViewData["Title"] &middot; MateralTools</title>
    <link href="~/Lib/Bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Css/Base/Layout.css" rel="stylesheet" />
    @RenderSection("Styles")
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">MateralTools</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">主页</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Document" asp-action="Index">编码规范文档</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropExample" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">示例</a>
                    <div class="dropdown-menu" aria-labelledby="dropExample">
                        <a class="dropdown-item" asp-area="" asp-controller="/Example" asp-action="Login">表单示例</a>
                        <a class="dropdown-item" asp-area="" asp-controller="/Example" asp-action="List">列表示例</a>
                        <a class="dropdown-item" asp-area="" asp-controller="/Example" asp-action="Table">表格示例</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/swagger" target="_blank">
                        API文档
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
                <li class="nav-item dropdown">
                    <a class="nav-item nav-link dropdown-toggle mr-md-2" href="#" id="bd-versions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span id="TopNavLoginUserName">读取中...</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="bd-versions">
                        <a class="dropdown-item" asp-area="" asp-controller="/User" asp-action="UserCenter">
                            个人中心
                        </a>
                        <a class="dropdown-item" asp-area="" asp-controller="/User" asp-action="EditMyPassword">
                            修改密码
                        </a>
                        <div class="dropdown-divider"></div>
                        <a id="BtnLogout" class="dropdown-item">安全退出</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    @RenderBody()
    <footer class="container">
        <hr>
        <p>&copy; Materal 2018</p>
    </footer>
    <script src="~/Lib/JQuery/jquery-3.3.1.min.js"></script>
    <script src="~/Lib/Popper/popper.min.js"></script>
    <script src="~/Lib/Bootstrap/bootstrap.min.js"></script>
    <script src="~/Lib/m-Tools/m-Tools.js"></script>
    @RenderSection("Scripts")
</body>
</html>