<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- 微信接口配置 -->
    <add key="Plant01" value="FenInfo"/>
    <add key="FenInfoAPPID" value="FenInfo"/>
    <add key="FenInfoMCHID" value="FenInfo"/>
    <add key="FenInfoKEY" value="FenInfo"/>
    <add key="FenInfoAPPSECRET" value="FenInfo"/>
    <add key="FenInfoSSLCERT_PATH" value="FenInfo"/>
    <add key="FenInfoSSLCERT_PASSWORD" value="FenInfo"/>
    <add key="FenInfoNOTIFY_URL" value="FenInfo"/>
    <add key="FenInfo" value="FenInfo"/>
    <add key="FenInfo" value="FenInfo"/>
    <add key="FenInfo" value="FenInfo"/>
    <add key="FenInfo" value="FenInfo"/>
    <add key="FenInfo" value="FenInfo"/>
    <add key="FenInfo" value="FenInfo"/>
    <add key="FenInfo" value="FenInfo"/>
    <add key="FenInfo" value="FenInfo"/>
    <add key="FenInfo" value="FenInfo"/>
    <add key="FenInfo" value="FenInfo"/>
    <add key="FenInfo" value="FenInfo"/>
    <add key="FenInfo" value="FenInfo"/>
    <add key="FenInfo" value="FenInfo"/>
    <add key="FenInfo" value="FenInfo"/>
    <add key="FenInfo" value="FenInfo"/>
    <add key="FenInfo" value="FenInfo"/>
    <add key="FenInfo" value="FenInfo"/>
    <add key="FenInfo" value="FenInfo"/>
    <add key="FenInfo" value="FenInfo"/>
    <add key="FenInfo" value="FenInfo"/>
    <add key="FenInfo" value="FenInfo"/>
  </appSettings>
</configuration>